body {
    background-color:azure;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 35px;
    text-align: center;
}

.weather-card {
    padding: 25px;
    margin: 15px 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.day {
    background-image: url("images/daybg.png");
}
.dawndusk {
    background-image: url("images/dawnduskbg.png");
    color: white;
}
.night {
    background-image: url("images/nightbg.png");
    color: white;
}

.weather-icon {
    font-size: 50px;
}

.temp {
    font-size: 48px;
    font-weight: bold;
}

.location {
    font-size: 24px;
    margin-bottom: 0px;
}

.addedinfogrid {
    display: grid;
    grid-template-columns: auto auto;
}

#apparent-temp, #min-max-temp, #avg-temp, #uv-index, #rel-humidity, #precip, #cloud-cover {
    background-color:powderblue;
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.hourly-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    overflow-x: auto;
}

.hourly-item {
    width: 90px;
    min-width: 90px;
    padding: 10px 3px;
    margin: 5px 5px; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
}

.dark {
    background-color: darkblue;
    color: white;
}
.moderate {
    background-color:dodgerblue;
    color: white;
}
.light {
    background-color:cyan;
    color: black;
}

.sunset-sunrise {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sunset-sunrise img {
    margin-bottom: 10px;
    border-radius: 10px;
}

.sunset-sunrise div {
    background-color: cornflowerblue;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    min-width: fit-content;
}

#sunrise-time,
#sunset-time {
    font-size: 18px;
    background-color: powderblue;
    color: black;
}

@media (min-width: 766px) and (max-width:993px) {
    .sunset-sunrise div {
        padding: 5px;
        margin: 2px;
    }
}